img{
	width:180px;
	height:170px;
	margin-right:0px;
}
body{
	background-color:#f2f2f2;
}
nav{
	background-image:linear-gradient(to bottom,#bb0b0b,#800000);
	width:100%;
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:-8px;
	border-bottom:2px solid #FFA07A;
	margin-left:-8px;
	padding-right:16px;
	flex-wrap:wrap;
	padding-bottom:25px;
}
a{
	margin-right:50px;
	text-decoration:none;
	font-size:30px;
	border-style:double;
	color:#FFA07A;
	
}
a:hover{
	color:#fcded2;
}
main{
	display:grid;
	grid-template-columns:50% 50%;
	grid-template-rows:auto;
	grid-template-areas: 
	"um tres"
	"quatro dois"
	;
	grid-gap:80px;
	align-items:center;
}
.el{
	display:flex;
	justify-content:center;
	margin-top:100px;
}
section{
	background-color:#bb0b0b;
	width:500px;
	height:350px;
	grid-area:um;
	border-radius:10px;
	color:white;
	padding-left:10px;
	border-top:1px solid #FFA07A;
	padding:20px;
	padding-bottom:55px;
	margin-bottom:50px;
}

}
#a1{
	grid-area:tres;

	
}

#a2{
	grid-area:quatro;
	
}
aside{
	background-color:#bb0b0b;
	width:500px;
	height:350px;
	grid-area:dois;
	border-radius:10px;
	color:white;
	padding-left:10px;
	border-top:1px solid #FFA07A;
	padding:20px;
	padding-bottom:1px;
}
img#image{
	width:400px;
	height:400px;
	margin-right:100px;
}
#foto{
	width:450px;
	height:400px;
	margin-right:100px;
}
p{
	font-family:georgian;
	font-size:21px;
}
p#para{
	margin-bottom:150px;

	
}
h3#texto{

}
footer{
	margin-top:150px;
	background-color:#bb0b0b;
	height:70px;
	color:white;
	display:flex;
	align-items:center;
	justify-content:start;
	border-top:2px solid #FFA07A;
	margin-left:-8px;
	margin-right:-8px;
	padding-left:10px;
}
h3#fundo{
	background-color::#B22222;
	font-family:sans-serif;
}
a#bac{

	color:#f7cdbc;

}

#ods{
	color:white;
	font-family:sans-serif;
	font-size:20px;
}
#qua{
	font-size:60px;
	margin-left:-20px;
	font-family:sans-serif;
	color:white;
	margin-right:5px;
}
.log{
	justify-content:start;
	display:flex;
	align-items:center;
	margin-left:-50px;
	margin-right:100px;
	
}
#op{
	margin-right:5px;
}

@media(max-width:600px){
	
}

@media (min-width:600px){
	nav{
		height:500px;
		
	
	}
	main{
		grid-template-columns:100% ;
		grid-template-rows:auto;
		grid-template-areas: 
		"um""tres"
		"dois" "quatro"
		;
		
		
	}
}

@media(min-width:1200px){
	nav{
		height:150px;
		
	}
	main{
	grid-template-columns:50% 50%;
	grid-template-rows:auto;
	grid-template-areas: 
	"um tres"
	"quatro dois"
	;
	}
}