main{
	display:flex;
	justify-content:center;
}
form{
	background-color:#B22222;
	font-size:20px;
	padding:30px;
	width:400px;
	height:auto;
	display:flex;
	flex-direction:column;
}
input{
	font-size:20px;
	color:#556B2F;
	border-radius:8px;
	height:30px;
	background-color:#FFF0F5;
}
h1{
	display:flex;
	justify-content:center;
}
h3#i{
	font-size:30px;
}
body{
	background-image:linear-gradient(to bottom,#8B0000,#FFA07A)
}