body {
    font-family: Arial, sans-serif;
    color:white;
}
header {
   
    background-color:#800000;
    color: white;
	padding: 10px;
}
main{

	background:url("edu.png");
	background-repeat:no-repeat;
	background-size:cover;
	
}

section {
	margin: 20px;
	background-color: rgba(196, 77, 77, 0.5);
	width:100%;
	height:1610px;
	margin-top:0px;
	margin-left:0px;
	
}
article{
	padding-top:19px;
	padding-left:10px;
	
}
#topo{
	font-size:35px;
	margin-left:10px;
}
p{
	
}
h3 {
	line-height: 1.6;
	color: #B22222;
}
footer{
	background-color:#8B0000;
	padding: 10px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	
}
a{
	color:#b34242;
	font-size:20px;
	text-decoration:none;
	font-weight:bold;
	padding-right:20px;
}
a:hover{
	text-decoration:underline;
}
nav{
	display:flex;
	align-items:center;
	height:150px;
}
#livro{
	width: 180px;
    height: 170px;
}

#dif{
	font-size:25px;
}

@media(max-width:600px){
	section{
		height:2000px;
	
		
	}
}

@media (min-width:600px){
	section{
		height:2700px;
		
		display:flex;
		align-items:center;
	}
}
@media(min-width:850px){
	section{
		height:2200px;
		
		display:flex;
		align-items:center;
	}
}

@media(min-width:1000px){
	section{
		height:2100px;
		
		display:flex;
		align-items:center;
	}
}

@media(min-width:1200px){
	section{
		height:1780px;
		display:flex;
		align-items:start;
		
	}
}